{% extends 'base.html' %}
{% load static %}

{% block title %}addpost{% endblock %}


{% block side_bar %}
        {% if request.user.is_authenticated %}

             <a href="{% url "logout" %}">Выйти</a>
        {% else %}
             <h2><li><a href="{% url "login" %}">Войти</a></li></h2>
        {% endif %}
{% endblock %}

                {% if user.is_authenticated %}
              <h3>Ваше имя: {{ user.first_name }}</h3>

              <h3> Ваш логин: {{ user.username }}</h3>
                {% endif %}
            {% block content %}

                hello
    <p><a href="{% url 'index' %}">Главная</a></p>
     <p><a href="{% url 'blog_posts:tapelist' %}">Моя лента</a></p>
     <p><a href="{% url 'blog_posts:list' %}">Мой блог</a></p>


    <h5>Поделиться на e-mail</h5>
    <form action="/addtest" method="get">

        <p><input type="text" name="title"></p>
        <p><textarea name="text"></textarea></p>

        <input type="submit" value="создать пост ">
    </form>
            {% endblock content %}

{% comment %}
action="/addpost?title={{ sh.0 }}&text={{ sh.1 }}" method="get" name="ids"
&author={{ request.user }} <input type="hidden" value="{{ user.id }}" name="author">{% endcomment %}