{% extends 'base.html' %}

{% block title %}Мои посты{{ posts.title }}{% endblock %}
{% block side_bar %}
    {% if request.user.is_authenticated %}

        <h3><a href="{% url "logout" %}">Выйти</a></h3>
        {% else %}
             <li><a href="{% url "login" %}">Войти</a></li><br>
        {% endif %}
{% endblock %}

{% block content %}
        <p><a href="{% url 'index' %}">Главная</a></p>
    <p><a href="{% url 'blog_posts:tapelist' %}">Моя лента</a></p>
    <p><a href="{% url 'blog_posts:addpost' %}">Создать пост</a></p>

{% for pub in posts %}<br>
    <h3>Заголовок: {{ pub.title }}</h3>
    <h3>Автор: {{ pub.author }}</h3>
    <h4>дата публикации: {{ pub.created }}<br></h4>
     <p> Текст: {{ pub.text|truncatewords:10 }}<br>
    </p>

    {% if sent %}
    <h1>E-mail succesfully sent</h1>
    <p>"{{ pub.title }}" был успешно отправлен по электронной почте</p>

    {%  else %}
    <h5>Поделиться {{ pub.title }} на e-mail</h5>
        <form action="/addpost" method="get">
        <input type="submit" value="создать пост ">
    </form>
     {% endif %}
{% endfor %}
  {% endblock %}


