{% extends "base.html" %}
{% load static %}

{% block title %}Все посты{{ posts.title }}{% endblock %}

{% block side_bar %}

    {% if request.user.is_authenticated %}

             <a href="{% url "logout" %}">Выйти</a>
        {% else %}
             <li><a href="{% url "login" %}">Войти</a></li>
        {% endif %}
{% endblock %}


{% block content %}

        <p><a href="{% url 'index' %}">Главная</a></p>
    <p><a href="{% url 'blog_posts:tapelist' %}">Моя лента</a></p>
    <p><a href="{% url 'blog_posts:list' %}">Мой блог</a></p>
    <p><a href="{% url 'blog_posts:addtest' %}">Создать пост</a></p>

    <div id="action-list">
    {% for all in all_posts %}
        <h3>Заголовок: {{ all.title }}</h3>
        <p>Автор: {{ all.author }}</p>
        <p>дата публикации: {{ all.created }}<br></p>
        <p>Текст: {{ all.text|truncatewords:10 }}<br></p>
        <form action="/subscribe" method="get">
        <input type="hidden" value="{{ request.user.id }}" name="idd">
           <p><button value="{{ all.author_id }}" name="id">Подписаться</button>
        </form>
        <form action="/unsubscribe" method="get">
          <input type="hidden" value="{{ request.user.id }}" name="iddu">
          </p>
        <p><button value="{{ all.author_id }}" name="idu">Отписаться</button>
        </form>
    {% endfor %}
    </div>

{% endblock content %}
        {% block add  %}

        {% endblock %}
