{% extends 'base.html' %}

{% block title %}Моя лента{{ posts.title }}{% endblock %}
{% block side_bar %}
    {% if request.user.is_authenticated %}

        <h3><a href="{% url "logout" %}">Выйти</a></h3>
        {% else %}
             <li><a href="{% url "login" %}">Войти</a></li><br>
        {% endif %}
{% endblock %}

{% block content %}
    <p><a href="http://127.0.0.1:8000/">Главная</a></p>
    <p><a href="http://127.0.0.1:8000/list/">Мой блог</a></p>

        {% for list in list_entr %}
            <h3>Заголовок: {{ list.0}}</h3>
            <p> Текст: {{ list.1}}</p>
            <p> Создан: {{ list.2}}</p>
            <p> Автор: {{ list.3}}</p>
            <span>прочитатать?: </span><a href="/readpost?post={{ list.4 }}&id={{ request.user.id }}"><input type="checkbox" name="idd" value="прочитано"></a></p>
            {% comment %}<p><input type="submit" value="прочитано"></p><br>{% endcomment %}
{% endfor %}

{% endblock %}