{% extends 'base.html' %}
{% load my_tags %}


{% block title %}Моя лента{{ posts.title }}{% endblock %}
{% block side_bar %}
    {% if request.user.is_authenticated %}

        <h3><a href="{% url "logout" %}">Выйти</a></h3>
        {% else %}
             <li><a href="{% url "login" %}">Войти</a></li><br>
        {% endif %}
{% endblock %}

{% block content %}
    <p><a href="http://127.0.0.1:8000/">Главная</a></p>
    <p><a href="http://127.0.0.1:8000/list/">Мой блог</a></p>

       {% comment %} {% for list in list_entr %}
            <h3>Заголовок: {{ list.0}}</h3>
            <p> Текст: {{ list.1}}</p>
            <p> Создан: {{ list.2}}</p>
            <p> Автор: {{ list.3}}</p>
            <span>прочитатать?: </span><a href="/readpost?post={{ list.4 }}&id={{ request.user.id }}"><input type="checkbox" name="idd" value="прочитано"></a></p>
            {% comment %}<p>{{ list.5|split:"," }}</p><p><input type="submit" value="прочитано"></p><br>{% endcomment %}
                 {% comment %}<p>{{ list.5|split:", "}}</p>
           {% for listt in list.5 %}

                 {% endfor %}
        {% endfor %}{% e %}{% endcomment %}


            {% for list in list_entr2 %}
            <h3>Заголовок: {{ list.0.0 }}</h3>
            <p> Текст: {{ list.0.1}}</p>
            <p> Создан: {{ list.0.2}}</p>
            <p> Автор: {{ list.0.3}}</p>

                {% if list.1 != 'прочитано' %}
                    <span>прочитатать?: </span>
                <p>
                <a href="/readpost?post={{ list.0.4 }}&id={{ request.user.id }}"><input type="checkbox" name="idd" value="прочитано"></a>
                </p>
            {% comment %}<p>{{ list.5|split:"," }}</p><p><input type="submit" value="прочитано"></p><br>{% endcomment %}
                 <p>{{ list.1 }}</p>
                {% else %}
                    {{ list.1 }}
                {% endif %}
           {% endfor %}

{% endblock %}
{% comment %}



                {{ listt.find(request.user.id) }}
                {% if listt == request.user.id %}
                    <p><input type="submit" value="прочитано"></p>
                {% endif %}

                <div>{{ listt }} {{ request.user.id }}</div>

                 <p><input type="submit" value="прочитано"></p>{% endcomment %}